# List comprehension

In [25]:
list_1 = [1, 2, 3, 4, 5]

In [3]:
list_2 = [x**2 for x in list_1]
list_2

[1, 4, 9, 16, 25]

In [4]:
list_3 = [x**2 for x in list_1 if x % 2 != 0]
list_3

[1, 9, 25]

In [5]:
list_4 =[1 if i%2 != 0 else i**2 for i in list_1]
list_4

[1, 4, 1, 16, 1]

### Insert element

In [20]:
list_1.insert(3, 100)
list_1

[1, 2, 3, 100, 4, 5]

In [21]:
list_1.append(50)
list_1

[1, 2, 3, 100, 4, 5, 50]

### Extend another list or iterator

In [26]:
list_2 = list(range(10, 16))
list_2

[10, 11, 12, 13, 14, 15]

In [27]:
list_1.extend(list_2)
list_1

[1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15]

In [28]:
my_tuple = (70, 89, 23)
list_1.extend(my_tuple)
list_1

[1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15, 70, 89, 23]

### Remove element

In [32]:
list_1.remove(10)
list_1

[1, 2, 3, 4, 5, 11, 12, 13, 14, 15, 70, 89, 23]

In [33]:
list_1.pop()
list_1

[1, 2, 3, 4, 5, 11, 12, 13, 14, 15, 70, 89]

In [34]:
list_1.pop(2)
list_1

[1, 2, 4, 5, 11, 12, 13, 14, 15, 70, 89]

In [50]:
list_1.clear()
list_1

[]

In [52]:
list_1.insert(0, 10)
list_1

[10, 10]

In [62]:
list_1 = list(range(11))

In [55]:
for x in list_1:
  print(x, end=' ')

0 1 2 3 4 5 6 7 8 9 10

In [57]:
list_2 = [0 if x%2 == 0 else x**2 for x in list_1]
list_2

[0, 1, 0, 9, 0, 25, 0, 49, 0, 81, 0]

In [63]:
list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
list_2 = list_1
list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
list_1.pop()
list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
list_2 = list_1.copy()
list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
list_1.pop()

9

In [69]:
print(list_1)
print(list_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
list_3 = list(list_1)
list_3

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [72]:
list_1.pop()
print(list_1)
print(list_3)

[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [73]:
list_1 = [1, 2, 3, 4, 5]
list_2 = [6, 7, 8, 9, 10]
list_3 = list_1 + list_2
list_3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]